<h1> Student Form </h1>
<div class="container">
  <form method="POST" action="/students">
    <p>Name: <input class="form-control" type="text" name="first_name"></p>
    <p>Name: <input class="form-control" type="text" name="last_name"></p>
    <input type = "submit" value = "Submit Student"> 
</div>
